.order--container {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f6f8fa;
}

.order--content {
  margin: 0 auto;
  width: 1200px;
  max-width: 1200px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.form {
  padding: 15px;
  width: 35%;
  box-sizing: border-box;
}

.form--title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 22px;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-label {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 6px;
}

.input {
  padding: 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  width: 170px;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="date"] {
  width: 140px;
}

input[type="number"] {
  width: 200px;
}

.text-area {
  font-family: "Poppins";
  font-size: 14px;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  resize: none;
  padding: 4px;
}

.submit {
  padding: 8;
  font-family: "Poppins", sans-serif;
  border: solid 2px #000;
  border-radius: 8px;
  width: 40%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  background-color: #2ea043;
  color: #ffffff;
  cursor: pointer;
}

.submit:hover {
  transition: all ease 1s;
  background-color: #099c24;
}

.cards-container {
  width: 65%;
  box-sizing: border-box;
  height: 88vh;
  margin: 0;
  padding: 32px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cards {
  width: 100%;
  height: 80%;
  border: solid 2px #30363d;
  border-radius: 5px;
  padding: 16px 70px 16px;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.order--card {
  box-sizing: border-box;
  background-color: #fff;
  margin: 16px;
  width: 220px;
  min-height: 200px;
  border-radius: 8px;
  border: solid 2px #656668;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.order--card p {
  margin: 0;
}

.order-card--title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-state {
  display: flex;
  align-items: center;
}

.order--state-icon {
  width: 15px;
  height: 15px;
}

.card--buttons {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 5px 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card--buttons img {
  cursor: pointer;
}
